<div class="wrapper" [ngClass]="dialogStyle">
  <cl-button class="close" styleType="icon" (btnClick)="onDialogClose(dialogResult.Close)">
    <cl-icon iconName="close"></cl-icon>
  </cl-button>
  <div class="title">
    {{title}}
  </div>
  <div class="body">
    <ng-content></ng-content>
  </div>
  <div class="action" *ngIf="buttons">
    <cl-button class="button" *ngFor="let button of buttons" [color]="button.primary ? 'primary' : 'common'" (btnClick)="onDialogClose(button.dialogResult)">{{button.text}}</cl-button>
  </div>
</div>

<div class="shadow"></div>
