<cl-dialog title="test" [dialogStyle]="'edited'" [dialogMode]="dialogMode.CancelSave"
           (dialogClose)="onDialogClose($event)">
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <div class="meet_dialog">
      <cl-textbox class="meet_textbox" [inputWidth]="'15.8rem'" label="Тема встречи" formControlName="theme"></cl-textbox>
      <cl-datepicker class="meet_textbox" [inputWidth]="'15.8rem'" [minDate]="'2019-01-21'" [maxDate]="'2019-01-27'"
                     formControlName="day" label="День встречи"></cl-datepicker>
      <cl-select class="meet_textbox" [inputWidth]="'15.8rem'" [data]="[{title: '00:00', value: '00:00'}, {title: '00:30', value: '00:30'}]" formControlName="theme" label="Начало встречи"></cl-select>
      <cl-select class="meet_textbox" [inputWidth]="'15.8rem'" [data]="[{title: '00:00', value: '00:00'}, {title: '00:30', value: '00:30'}]" formControlName="theme" label="Окончание встречи"></cl-select>
      <cl-textbox class="meet_textbox" [inputWidth]="'15.8rem'" formControlName="theme" label="Участники встречи"></cl-textbox>

      <div class="users_area" [style.width]="'15.8rem'">
        <a class="add_user">Добавить участника</a>
        <cl-checkbox class="meet_checkbox" [label]="'Виктор Павлов'"></cl-checkbox>
      </div>
    </div>
  </form>
</cl-dialog>
