$common: #dee0e0;
$common-contrast: black;
$common-dark: #c8c9c9;
$common-dark-contrast: black;

$primary: #2f81cd;
$primary-contrast: white;
$primary-dark: #006acd;
$primary-dark-contrast: white;

$warn: #f30000;
$warn-contrast: white;
