<table class="week">
  <thead>
    <tr class="days">
      <td class="days_el" *ngFor="let date of dates; let i = index" [class.active]="date.value === nowDate">
        {{date.dayName}}
      </td>
    </tr>
    <tr class="dates">
      <td class="dates_el" *ngFor="let date of dates; let i = index"
          [class.active]="date.value === nowDate" [class.disable]="i === 5 || i === 6" (dblclick)="onShowDialog(date.value, i, $event)">
        {{date.title}}
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="data_cell" *ngFor="let date of dates; let i = index"
          [class.active]="date.value === nowDate" [class.disable]="i === 5 || i === 6" (dblclick)="onShowDialog(date.value, i, $event)">
        <ng-container *ngFor="let meet of meetings$ | async; trackBy: trackByMeeting">
          <div class="meet" *ngIf="date.value === meet.day" (dblclick)="onShowDialog(date.value, i, $event, meet)">
            {{meet.timeStart}} >> Встреча
          </div>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>


<cl-calendar-dialog *ngIf="showedDialog" (closeDialog)="onCloseDialog($event)" [pickMeeting]="pickMeeting" [pickDate]="pickDate" [nowDate]="nowDate" [nowTime]="nowTime" [workWeek]="dates"></cl-calendar-dialog>
